
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>{% block title %} {% endblock title %}</title>
        {% load static %}
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="{% static './images/custlogo_3.png'%}">

        <!-- DataTables -->
        <link href="{% static './plugins/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static './plugins/datatables/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{%static './plugins/datatables/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- Basic Css files -->
        <link href="{% static './css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static './css/icons.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static './css/style.css'%}" rel="stylesheet" type="text/css">

    </head>


    <body class="">
        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <!-- LOGO -->
                <div class="topbar-left text-center">
                    <div class="">
                        <!--<a href="index.html" class="logo text-center">Admiria</a>-->
                        <a href="/index" class="logo"><img src="{% static 'images/custlogo_3.png'%}" class="logo-alignment" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner">
                    <div id="sidebar-menu">
                        <ul class="p-2">
                             {% url 'add_admin' as add_admin %}
                             <li class="mt-1 {% if request.path == add_admin %} nav-active {% endif %}">
                                <a href="{{add_admin}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Add Admin </span></a>
                            </li>

                            {% url 'manage_admin' as manage_admin %}
                             <li class="mt-1 {% if request.path == manage_admin %} nav-active {% endif %}">
                                <a href="{{manage_admin}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Manage Admin </span></a>
                            </li>

                            {% url 'addsupervisor' as addsupervisor %}
                            <li class="mt-1 {% if request.path == addsupervisor %} nav-active {% endif %}">
                                <a href="{{addsupervisor}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Add Supervisor </span></a>
                            </li>

                            {% url 'manage_supervisor' as manage_supervisor %}
                            <li class="mt-1 {% if request.path == manage_supervisor %} nav-active {% endif %}">
                                <a href="{{manage_supervisor}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Manage Supervisor </span></a>
                            </li>

                            {% url 'addstudent' as addstudent %}
                            <li class="mt-1 {% if request.path == addstudent %} nav-active {% endif %}">
                                <a href="{{addstudent}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Add Student </span></a>
                            </li>

                            {% url 'manage_student' as manage_student %}
                            {% url 'edit_student' student_id=id as edit_student %}
                            <li class="mt-1 {% if request.path == manage_student %} nav-active {% endif %}  {% if request.path == edit_student %} nav-active {% endif %}">
                                <a href="{% url 'manage_student'%}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span>Manage Student </span></a>
                            </li>

                            {% url 'adddepartment' as adddepartment %}
                            <li class="mt-1 {% if request.path == adddepartment %} nav-active {% endif %}">
                                <a href="{{adddepartment}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span><i>Add Department</i> </span></a>
                                <!-- <a href="/" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span> Current FYP </span></a> -->
                            </li>
                            {% url 'manage_department' as manage_department %}
                             {% url 'edit_student' student_id=id as edit_student %}
                             <li class="mt-1 {% if request.path == manage_department %} nav-active {% endif %} {% if request.path == edit_student %} nav-active {% endif %}">
                                <a href="{{manage_department}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span><i>Manage Department</i> </span></a>
                                <!-- <a href="/" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span> Current FYP </span></a> -->
                            </li>
                            {% url 'add_fyp' as add_fyp %}
                             <li class="mt-1 {% if request.path == add_fyp %} nav-active {% endif %}">
                                <a href="{{add_fyp}}" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span><i>Add Fyp</i> </span></a>
                                <!-- <a href="/" class="waves-effect"><i class="mdi mdi-file-multiple"></i><span> Current FYP </span></a> -->
                            </li>
                            {% url 'pastfyp' as pastfyp %}
                            <li class="mt-1 {% if request.path == pastfyp %} nav-active {% endif %}">
                                <a href="{{pastfyp}}" class="waves-effect "><i class="mdi mdi-file-multiple"></i><span> Past Final Year Projects </span></a>
                            </li>

                            {% url 'upload_report' as upload_report %}
                            <li class="mt-1 {% if request.path == upload_report %} nav-active {% endif %}">
                                <a href="{{upload_report}}" class="waves-effect "><i class="mdi mdi-file-multiple"></i><span>Check Plagiarism </span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->


            <!-- Start right Content here -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">
                            <!-- Search input -->
                            <div class="search-wrap" id="search-wrap">
                                <div class="search-bar">
                                    <input class="search-input" type="search" placeholder="Search" />
                                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0">
                                <!-- Search -->
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link waves-effect toggle-search" href="#"  data-target="#search-wrap">
                                        <i class="mdi mdi-magnify noti-icon"></i>
                                    </a>
                                </li>



                                <!-- User-->
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                         <img src="{% static './images/users/avatar-1.jpg'%}" alt="user" class="rounded-circle">
                                       <!-- <img src="{{user.profile_pic}}" alt="user" class="rounded-circle">-->
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                          <img src="{% static './images/users/avatar-1.jpg'%}" alt="user" class="rounded-circle">
                                         <a class="dropdown-item" href="/show_profile"><i class="dripicons-exit text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="/logout"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>


                            </ul>

                            <!-- Page title -->
                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search" >
                                    <h3 class="page-title">FYP Library</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <!-- ==================
                         PAGE CONTENT START
                         ================== -->

                    <div class="page-content-wrapper">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-12">
                                    <div class="col-12 text-right mb-3">
                                        <a href="/addfyp" class="btn btn-outline-pink waves-effect waves-light">Add Final Year Project</a>
                                    </div>
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            {% block body %}

                                            {% endblock body %}


                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div><!-- container-fluid -->

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

            </div>
            <!-- End Right content here -->

        </div>

        <!-- END wrapper -->
        <!-- jQuery  -->
        <script src="{%static './js/jquery.min.js'%}"></script>
        <script src="{%static './js/bootstrap.bundle.min.js'%}"></script>
        <script src="{%static './js/modernizr.min.js'%}"></script>
        <script src="{%static './js/jquery.slimscroll.js'%}"></script>
        <script src="{%static './js/waves.js'%}"></script>
        <script src="{%static './js/jquery.nicescroll.js'%}"></script>
        <script src="{%static './js/jquery.scrollTo.min.js'%}"></script>


        <!-- Required datatable js -->
        <script src= "{% static './plugins/datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{% static './plugins/datatables/dataTables.bootstrap4.min.js'%}"></script>
        <!-- Buttons examples -->
        <script src="{% static './plugins/datatables/dataTables.buttons.min.js'%}"></script>
        <script src="{% static './plugins/datatables/buttons.bootstrap4.min.js'%}"></script>
        <script src="{% static './plugins/datatables/jszip.min.js'%}"></script>

        <script src= "{% static './plugins/datatables/pdfmake.min.js'%}"></script>
        <script src="{% static './plugins/datatables/vfs_fonts.js'%}"></script>
        <script src=  "{% static './plugins/datatables/buttons.html5.min.js'%}"></script>
        <script src=  "{% static './plugins/datatables/buttons.print.min.js'%}"></script>
        <script src=  "{% static './plugins/datatables/buttons.colVis.min.js'%}"></script>
        <!-- Responsive examples -->
        <script src=  "{% static './plugins/datatables/dataTables.responsive.min.js'%}"></script>
        <script src=  "{% static './plugins/datatables/responsive.bootstrap4.min.js'%}"></script>

        <!-- Datatable init js -->
        <script src=  "{% static './pages/datatables.init.js'%}"></script>
        <!-- App js -->
        <script src=  "{% static './js/app.js'%}"></script>
        {% block custom_js%}
        {%endblock custom_js%}


    </body>
</html>